.comentaries {
	background-image: url(../img/bg2.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0px 800px 1px rgba(43, 55, 64, 0.87);
	padding: 30px 0;
	&__container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		@include respond-to(tablets){
			justify-content: center;
		}
		h1{
			width: 100%;
			font-size: 40px;
			color: white;
			@include respond-to(tablets){
				text-align: center;
			}
		}
		&-column {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			@include respond-to(tablets){
				width: 45%;
			}
			@include respond-to(mobile){
				width: 80%;
			}
			&--picture {
				width: 80%;
				overflow: hidden;
				margin: 20px;
				img {
					border-radius: 50%;
				}
			}
			&--text{
				color: white;
				line-height: 25px;
				h2{
					color: #d40808;
				}
			}
		}
	}
}