.digital{
	background-image: url(../img/bg1.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0px 1000px 1px rgba(43, 55, 64, 0.87);
	&__container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		height: inherit;
		@include respond-to(tablets){
			justify-content: space-around;
		}
		&_column {
			width: 50%;
			color: white;
			margin: 30px 0;
			@include respond-to(tablets){
				width: 45%;
			}
			@include respond-to(mobile){
				width: 80%;
				text-align: center;
			}
			p {
				line-height: 25px;
			}
		}
	}
}