.providing {
	margin: 50px 0;
	h1 {
		margin: 30px 0;
		font-size: 40px;
		@include respond-to(tablets){
			margin: 30px;
			text-align: center;
		}
		@include respond-to(mobile){
			font-size: 28px;
    		text-align: center;
		}
	}
	&__container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		&-column {
			width: 30%;
			line-height: 60px;
			@include respond-to(mobile){
				width: 80%;
				margin: auto;
				background-color: #314350;
			    color: white;	
			    border: 1px solid white;
			}
			li{
				transition: all .6s;
				font-size: 18px;
				color: #d40808;
				cursor: pointer;
				@include respond-to(tablets){
					font-size: 14px;
				}
				@include respond-to(mobile){
					display: none;
				}
				.fa {
					color: #2b3740;
				}
			}
			li:hover{
				background-color: #d40808;
				color: white;
			}
			li:hover .fa{
				color: white;
			}
		}
	}
}

.burger1 {
	display: none;
	@include respond-to(mobile){
		display: block;
		margin-bottom: 10px;
	}
}

.firstList {
	@include respond-to(mobile){
		width: 90%;
		padding: 10px;
		margin:10px;
		&:hover li{
			display: block;
		}
		&:hover hr{
			display: block;
		}
	}
}
.secondList {
	@include respond-to(mobile){
		width: 90%;
		padding: 10px;
		margin:10px;
		&:hover li{
			display: block;
		}
		&:hover hr{
			display: block;
		}
	}
}
.thirdList {
	@include respond-to(mobile){
		width: 90%;
		padding: 10px;
        margin:10px;
		&:hover li{
			display: block;
		}
		&:hover hr{
			display: block;
		}
	}
}