<div  class='wall' ng-controller='abonentsCtrl'>
	<table>
		<tr>
			<td><b>ID</b></td>
			<td><b>NAME</b></td>
			<td><b>SURNAME</b></td>
			<td><b>LOCATION</b></td>
			<td><b>PHONE</b></td>
		</tr>
		<tr ng-repeat='item in abonents.data'>
			<td>{{item.id}}</td>
		    <td>{{item.name}}</td>
		    <td>{{item.surname}}</td>
		    <td>{{item.location}}</td>
		    <td>+{{item.phone}}</td>
	    </tr>
	</table>

	<div class="post">
	    <h2>Registration Form</h2>
	    <p><input type="text" placeholder="Input your NAME" ng-model='item.name' width='30%'></p>
	    <p><input type="text" placeholder="Input your Surname" ng-model='item.surname' width='30%'></p>
	    <p><input type="text" placeholder="Input your Adress" ng-model='item.location' width='30%'></p>
	    <p><input type="text" placeholder="Input your Phone" ng-model='item.phone' width='30%'></p>
	    <button ng-click='addAbonent(item)' class='btn btn-form'>Submit</button>
	</div>
	
</div>